openapi: 3.0.0
info:
  title: 'Test API Sawgger'
  description: "Test de la documentation de l'API Swagger"
  contact:
    name: 'Testing API Team'
  version: '1.0'
servers:
  -
    url: 'https://api.swagger.fr/V1/'
    description: 'API server'
paths:
  /api/V1/apprenti:
    get:
      summary: 'Get all Apprenti'
      description: "Obtient tous les apprentis de l'école"
      operationId: a3cba8d121b559fb8ddcd64ccf25f5c5
      responses:
        '200':
          description: 'Les Apprentis'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apprenti'
        '400':
          description: 'Bad Request'
        '401':
          description: Unauthoriezd
  '/api/V1/apprenti/{id}':
    get:
      summary: 'Get one Apprenti'
      description: "Obtenir un apprenti avec son numéros d'id"
      operationId: b86ec856b68bb58f953678f779757b89
      parameters:
        -
          name: id
          in: path
          description: "Numéros d'id de l'apprenti"
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Un Apprenti'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apprenti'
        '401':
          description: Unauthorized
        '404':
          description: 'Not Found'
components:
  schemas:
    Apprenti:
      properties:
        id:
          type: integer
        nom:
          type: string
        nomUsage:
          type: string
          nullable: true
        prenom:
          type: string
        sexe:
          type: string
        nationalite:
          type: string
        dateNaissance:
          type: string
          format: date-time
        departementNaissance:
          type: string
        communeNaissance:
          type: string
        nir:
          type: string
        regimeSocial:
          type: integer
        handicap:
          type: boolean
        email:
          type: string
      type: object
